---
// Brutalist Editorial Portfolio
// Inspired by: Print magazines, newspaper layouts, raw typography
// Aesthetic: Stark black/white contrasts, bold serif typography, grid-breaking layouts
import { personalInfo, skills, projects, neovimHighlight, siteMetadata } from '../data/portfolio';
import '../styles/global.css';
import Masthead from '../components/Masthead.astro';
import Hero from '../components/Hero.astro';
import SectionHeader from '../components/SectionHeader.astro';
import SkillsSection from '../components/SkillsSection.astro';
import NeovimSection from '../components/NeovimSection.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import FooterSection from '../components/FooterSection.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={siteMetadata.description} />
    <title>{siteMetadata.title}</title>
    
    <!-- Fonts: Editorial New for headlines, Darker Grotesque for body -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    
  </head>
  
  <body>
    <Masthead />
    <Hero personalInfo={personalInfo} />

    <SectionHeader id="about" number="01" title="About & Expertise" />
    <SkillsSection personalInfo={personalInfo} skills={skills} />

    <NeovimSection neovimHighlight={neovimHighlight} />

    <SectionHeader id="work" number="02" title="Selected Work" />
    <ProjectsGrid projects={projects} />

    <SectionHeader id="contact" number="03" title="Get in Touch" />
    <FooterSection personalInfo={personalInfo} />
  </body>
</html>
